# Bonus: Temperature Analysis I

In [2]:
import pandas as pd
from datetime import datetime as dt

In [6]:
# "tobs" is "temperature observations"
hawaiidata_path = "Resources/hawaii_measurements.csv"
df = pd.read_csv(hawaiidata_path)
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [7]:
df.dtypes

station     object
date        object
prcp       float64
tobs         int64
dtype: object

In [9]:
# Convert the date column format from string to datetime
df['date'] = pd.to_datetime(df['date'])
df.dtypes

station            object
date       datetime64[ns]
prcp              float64
tobs                int64
dtype: object

In [12]:
# Set the date column as the DataFrame index
df.set_index('date')

                station  prcp  tobs
date
2010-01-01  USC00519397  0.08    65
2010-01-02  USC00519397  0.00    63
2010-01-03  USC00519397  0.00    74
2010-01-04  USC00519397  0.00    76
2010-01-06  USC00519397   NaN    73
...                 ...   ...   ...
2017-08-19  USC00516128  0.09    71
2017-08-20  USC00516128   NaN    78
2017-08-21  USC00516128  0.56    76
2017-08-22  USC00516128  0.50    76
2017-08-23  USC00516128  0.45    76

[19550 rows x 3 columns]

In [ ]:
# Drop the date column - not sure why, when the dataframe looks correct

### Compare June and December data across all years

In [25]:
from scipy import stats

In [17]:
# Filter data for desired months
#junedata = df['date'].map(lambda x: x.month) == 6
june_df = df[df['date'].dt.month == 6]
june_df

           station       date  prcp  tobs
133    USC00519397 2010-06-01  0.00    78
134    USC00519397 2010-06-02  0.01    76
135    USC00519397 2010-06-03  0.00    78
136    USC00519397 2010-06-04  0.00    76
137    USC00519397 2010-06-05  0.00    77
...            ...        ...   ...   ...
19492  USC00516128 2017-06-26  0.02    79
19493  USC00516128 2017-06-27  0.10    74
19494  USC00516128 2017-06-28  0.02    74
19495  USC00516128 2017-06-29  0.04    76
19496  USC00516128 2017-06-30  0.20    75

[1700 rows x 4 columns]

In [18]:
dec_df = df[df['date'].dt.month == 12]
dec_df

           station       date  prcp  tobs
305    USC00519397 2010-12-01  0.04    76
306    USC00519397 2010-12-03  0.00    74
307    USC00519397 2010-12-04  0.00    74
308    USC00519397 2010-12-06  0.00    64
309    USC00519397 2010-12-07  0.00    64
...            ...        ...   ...   ...
19323  USC00516128 2016-12-27  0.14    71
19324  USC00516128 2016-12-28  0.14    71
19325  USC00516128 2016-12-29  1.03    69
19326  USC00516128 2016-12-30  2.37    65
19327  USC00516128 2016-12-31  0.90    65

[1517 rows x 4 columns]

In [21]:
# Identify the average temperature for June
june_df['tobs'].mean()

74.94411764705882

In [22]:
# Identify the average temperature for December
dec_df['tobs'].mean()

71.04152933421226

In [24]:
# Create collections of temperature data
june_dec_df = pd.merge(june_df, dec_df, on = "station", how = "left")
june_dec_df

            station     date_x  prcp_x  tobs_x     date_y  prcp_y  tobs_y
0       USC00519397 2010-06-01     0.0      78 2010-12-01    0.04      76
1       USC00519397 2010-06-01     0.0      78 2010-12-03    0.00      74
2       USC00519397 2010-06-01     0.0      78 2010-12-04    0.00      74
3       USC00519397 2010-06-01     0.0      78 2010-12-06    0.00      64
4       USC00519397 2010-06-01     0.0      78 2010-12-07    0.00      64
...             ...        ...     ...     ...        ...     ...     ...
321443  USC00516128 2017-06-30     0.2      75 2016-12-27    0.14      71
321444  USC00516128 2017-06-30     0.2      75 2016-12-28    0.14      71
321445  USC00516128 2017-06-30     0.2      75 2016-12-29    1.03      69
321446  USC00516128 2017-06-30     0.2      75 2016-12-30    2.37      65
321447  USC00516128 2017-06-30     0.2      75 2016-12-31    0.90      65

[321448 rows x 7 columns]

In [28]:
# Run paired t-test
ttest(june_df.loc['station'], dec_df.loc['station'], equal_var=False)

NameError: name 'ttest' is not defined

### Analysis